body{
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img { opacity : 0.5; }

.container .form .countdown h1 {
  display:flex;     
  justify-content: center;
  align-items: center;
  color: var(--purple);
  font-size: 60px;
  margin-bottom: 45px;
  font-weight: 900;
}

.container .form .countdown p {
  margin-top: 25px; 
  display:flex;     
  justify-content: center;
  color: white;
  
}
.button-text{
  font-size: medium;
  font-weight: 500;
}

.container .form .countdown .sign {
  width: 30%;
  height: 40px;
  background-color: var(--purple);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.container .form .countdown .table {
  display:flex;     
  justify-content: center;
  font-weight: 900;
}

.container .form .countdown .button {
  display:flex;     
  justify-content: center;
  margin-top: 15px;
}

.container .form .countdown table {
  width: 80%;
}

.container .form .countdown table thead tr th {
  color: var(--text-color);
  font-size: 10px;
}

.container .form .countdown table tbody tr td {
  font-size: 60px;
}

.modal-container.active {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.modal-container.active .container-form {
  width: 40%;
  height: 40%;
  background-color: white;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border-radius: 8px;
}

.modal-container.active .container-form h1 {
  text-align: center;
  margin-top: 50px;
  font-weight: normal;
  color: var(--purple);
}

.modal-container.active .container-form form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal-container.active .container-form form p {
  padding: 20px;
  width: 100%;
}

.modal-container.active .container-form form .name-input, .email-input {
  height: 30px;
  width: 100%;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 5px;
  transition: all 200ms ease;
}

.modal-container.active .container-form form .name-input:focus {
  border-left: 5px solid var(--purple);
}

.modal-container.active .container-form form .email-input:focus {
  border-left: 5px solid var(--purple);
}

.modal-container.active .container-form .btns {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.modal-container.active .container-form .btns .btn-send {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  background-color: var(--purple);
  color: white;
  margin-right: 20px;
  cursor: pointer;
  font-size: 15px;
  transition: all 200ms ease;
}

.modal-container.active .container-form .btns .btn-send:hover {
  opacity: 0.9;
}

.modal-container.active .container-form .btns .btn-cancel {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  background-color: #c31212;
  color: white;
  cursor: pointer;
  font-size: 15px;
  transition: all 200ms ease;
}

.center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

@media(max-width: 768px) {
  .modal-container.active .container-form{
    width: 100%;
    height: 55%;
  }
}